/* green: #8DC830 */
/* blue: #0F6FA1 */

#ak_wrapper
{
	width:650px;
	margin:10px auto;
}

#breadcrumb
{
	width:640px;
	display: inline-block;
	border-top:1px solid #0F6FA1;
	border-bottom:1px solid #0F6FA1;
	margin-bottom: 20px;
	color:#0F6FA1;
	padding-left: 30px;
}

#breadcrumb a
{
	font-size: 1.2em; 
	text-decoration: none;
}

#breadcrumb .active
{
	font-size: 1.4em; 
	font-weight: bold;
}

.full_width_part{
    width: 640px;
	background: #8DC830;
	text-align: center;
	line-height: 32px;
	clear: left;
	margin: 10px auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
	padding: 4px 0px;
	-moz-box-shadow: 0px 0px 5px #DFDFDF;
	-o-box-shadow: 0px 0px 5px #DFDFDF;
	-webkit-box-shadow: 0px 0px 5px #DFDFDF;
	box-shadow: 0px 0px 5px #DFDFDF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.full_width_part h3{
	margin:0px;
	padding:0px;
}

.half_width_part{
    width: 45%;
	background: #8DC830;
	text-align: center;
	line-height: 32px;
	margin: 10px auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
	padding: 4px 0px;
	-moz-box-shadow: 0px 0px 5px #DFDFDF;
	-o-box-shadow: 0px 0px 5px #DFDFDF;
	-webkit-box-shadow: 0px 0px 5px #DFDFDF;
	box-shadow: 0px 0px 5px #DFDFDF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.half_width_part h3{
	margin:0px;
	padding:0px;
}

.floatleft{
	float:left;
}

.floatright{
	float:right;
}

/* landing links 2 in a row */
.landing_links_2{
	text-align: center;
} 

.landing_links_2 div{
	float:left;
	padding:40px 90px;
	
}

.landing_links_2 .left{
	margin-left:145px;
}

.landing_links_2 a{
	width:160px;
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 1.3em;
}

.landing_links_2 a:hover{
	color:#0F6FA1;
}

.landing_links_2 img{
	width:150px;
}
/* /langing_3 */

/* landing links 3 in a row */
.landing_links_3{
	text-align: center;
} 

.landing_links_3 div{
	float:left;
	padding:40px 25px;
	
}

.landing_links_3 a{
	width:160px;
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 1.3em;
}

.landing_links_3 a:hover{
	color:#0F6FA1;
}

.landing_links_3 img{
	width:150px;
}
/* /langing_3 */

/* landing links 4 in a row */
.landing_links_4{
	text-align: center;
} 

.landing_links_4 div{
	float:left;
	padding:40px 80px;
	
}

.landing_links_4 a{
	width:160px;
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 1.3em;

	
}

.landing_links_4 a:hover{
	color:#0F6FA1;
}

.landing_links_4 img{
	width:150px;
}
/* /langing_4 */

.landing_links_general a
{
	padding-top: 150px;
	background: no-repeat center;
	background-image: url(../images/inactive.png);
}

.landing_links_general a:hover
{
	background-image: url(../images/active.png);
}

.clearfix{
	width:100%;
	display: inline-block;
}

/* 50-50 items */
.label
{
	font-size:1.1em;
	font-weight: bold;
}
.50_50{
	width:100%;
	display: inline-block;
}


.left_50_50{
	width:46%;
	float:left;
	padding: 5px 10px ;
	margin: 0px 0px 60px 0px
}

.left_50_50 img{
	float:right;
	width:50px;
}

.left_50_50 h3
{
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	padding:5px 0px;
	text-transform: uppercase;
}

.right_50_50{
	width:46%;
	float:right;
	padding: 5px 10px;
	margin: 0px 0px 60px 0px
}

.right_50_50 img{
	float:right;
	width:50px;
}

.right_50_50 h3
{
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	padding:5px 0px;
	text-transform: uppercase;
}
/* /50-50 items */

.featured_item
{
	width:300px;
	height:100%;
	float:left;
	padding-left:10px;
	margin-bottom: 30px;
/* 	background-color: rgba(0,0,0,0.2); */
}

.featured_item img
{
	width:100%;
	height:300px;
}

.featured_item h3
{
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	padding:5px 0px;
	text-transform: uppercase;
}

.latest_items
{
	width:320px;
	height:100%;
	float:right;
/* 	background-color: rgba(0,0,0,0.1); */
}

.latest_items h3
{
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	padding:5px 0px;
	text-transform: uppercase;
}

.latest_items img
{
	float:left;
	margin-right:10px;
}

.latest_items .job
{
	height:130px;
	margin-bottom: 30px;
}

.latest_items .opportunity
{
	height:130px;
	margin-bottom: 30px;
}

.latest_items .competence
{
	height:130px;
}

.view_more
{
	font-size: 1.1em;
	float:right;
	text-decoration: none;
}

.view_more:hover
{
	font-weight: bold;
}


/**===========================================SEARCH BOX ================================*/
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

#search{
	height:70px;
}
.form-wrapper {
    width: 450px;
    padding: 5px;
    margin: 20px auto 50px auto;
    background: #444;
    background: #0F6FA1;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
}

.form-wrapper input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font: 2.3em 'lucida sans', 'trebuchet MS', 'Tahoma';
    color:rgba(0,0,0,0.8);
    border: 0;
    background: #eee;
    -moz-border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/20px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #0F6FA1;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper button:hover{
    background: #6F9F26;
}

.form-wrapper button:active,
.form-wrapper button:focus{
    background: #3B83BD;
}



.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/** / SEARCH BOX ======================================*/

/*********************************************************************************/
/* SEARCH Page	                                                                 */
/*********************************************************************************/
.results_header{
	visibility: hidden;
	padding: 0px;
	margin:0px;
	height:0px;
}
.moreinfo {
	
	margin-right:9px;
	display:inline-block;
	line-height:18px;
	font-size:1.1em;
	padding:0px 3px 0px 3px;
    color:white;
    text-decoration: none;
	
	background-color:rgba(0,0,0,0.4);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.moreinfo:hover
{
	background-color: #0F6FA1;
	color:white;
}

.item-intro {
	padding:10px 10px;
    border-top: 1px solid #E0E0E0;
}


.odd {
	background-color:rgba(0,0,0,0.05);
	
}

.item-intro h2 img{
    height:20px;
}

.item-intro-desc{
	margin-bottom: 0.5em;
}




/* PAGINATION */
#pagination_top
{
    margin:15px auto;
	text-align: center;
	text-decoration: none;
}

#pagination_bottom
{
    margin:15px auto;
    text-align: center;
	text-decoration: none;
}

.yui-pg-page
{
	color:gray;
	text-decoration: none;
    margin:30px 0px 0px 5px;
    padding:4px 10px 4px 10px;
	font-size:16px;
}

.yui-pg-page:hover
{
	color:#0F6FA1;
}

.yui-pg-current-page
{
	color:#0F6FA1;
    font-weight:bold;
    text-decoration:none;
    
    border:1px solid #20272d;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.yui-pg-previous
{
    padding-left:10px;
    
}
.yui-pg-next
{
    padding-left:10px;
}

/* FACETS */
.filter {
	width:630px;
	background:blue;
    margin-bottom:30px;

	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
}
.filter a
{
	font-size:11px;
	color:#82a64f;
	float:left;
}

.filter_parent
{
	line-height:35px;
    text-decoration: none;
}

.filter_parent:hover
{
    /*background: url(images/filter_parent_hover.png);*/
}

.filter_parent.opened:hover
{
    /*background: url(images/filter_parent_hover.png);*/
}

.filter_parent.opened span
{
	color:#0F6FA1;
	display: block;
	padding: 0px 5px;
}

.filter_parent.opened span:after
{
	content:" -";
}

.filter_parent span {
	margin-right:10px;
	padding: 5px;
/* 	display:block; */
    font-size:14px;
    color:black;
    background-color:rgba(0,0,0,0.1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
}

.filter_child {
	/*display:none;*/
	padding-top:0.2em;
}
.filter_child.hasscroll {
	overflow:hidden;
	height:auto;
    max-height: 215px;
}
.filter_child a {
    color:black;
	position:relative;
    font-size:13px;
    text-decoration: none;
	
}
.filter_child a:hover
{
    color:#3c5b6f;
}

.filter_child a.facet-selected
{
    color:white;
}

.filter_child span {
	display: block;
	padding:3px;
	margin:5px;
	vertical-align:middle;
	float:left;
	background-color:rgba(0,0,0,0.1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.filter_child .facet-selected span {
	display: block;
	padding:3px;
	margin:5px;
	vertical-align:middle;
	float:left;
	background-color:rgba(0,0,0,0.8);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


/*.filter_child span.image-icon { background:url(images/filter_icons.png) 0 9px no-repeat; }*/
/*.filter_child span.audio-icon { background:url(images/filter_icons.png) 0 -36px no-repeat; }*/
/*.filter_child span.video-icon { background:url(images/filter_icons.png) 0 -80px no-repeat; }*/
/*.filter_child span.url-icon { background:url(images/filter_icons.png) 5px -125px no-repeat; }*/
.filter_child span.total
{
    color:black;
	font-weight: bold;
	margin-right: 20px;
	padding-left: 10px;
	border-right: 1px solid black;
	display: block;
}

.filter_child a.facet-selected span.total
{
    background-color:#0F6FA1;
    color:white;
}

.remove_filters {
	text-align:right;
	height:18px;
	text-transform:uppercase;
   
}
.remove_filters a {
	margin-right:9px;
	display:inline-block;
	height:18px;
	line-height:18px;
	font-size:10px;
	padding:0px 3px 0px 3px;
    color:white;
    text-decoration: none;
    
    background-color:#fbbb4b;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.remove_filters a:hover
{
	color: #8b390f;
}

.facets_sidebar
{
	width:640px;
	float:left;
	padding-left:15px;
	margin-top:10px;
}

.facets_sidebar h3
{
	margin-top:4px;
	margin-bottom:4px;	
}

.listing
{
	width:100%;
}

.active_facets
{
	width:100%;
	padding: 30px 0px;
}

.active_facets_label
{
	float:left;
	padding-left: 10px;
	font-size: 1.1em;
	padding-top: 3px;
}

.active_facet
{
	float:left;
	margin:0px 5px 0px 5px;
	padding:3px 8px;
	background-color:rgba(0,0,0,0.1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


/*********************************************************************************/
/* VIEW ITEM Page                                                                */
/*********************************************************************************/
.main_content
{
	width:640px;
	float:right;
	margin-right: 15px;
	margin-bottom: 30px;
}

.main_content ul
{
	list-style: none;
	padding-left:0px;
}

.main_content ul li
{
	padding-bottom:0px;
}

#itemThumb
{
	float:right;
}

#itemThumb a
{
	width:160px;
	height:160px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 1px 1px 5px #000000;
	-moz-box-shadow: 1px 1px 5px #000000;
	-o-box-shadow: 1px 1px 5px #000000;
	-ms-box-shadow: 1px 1px 5px #000000;
	box-shadow: 1px 1px 5px #000000;

}

/* flags */
span.flag {
	text-indent:-9999px;
	margin-left:3px;
	display:inline-block;
	width:27px;
	height:18px;
        background-repeat: no-repeat;
}
span.enflag {
	background:url(images/flags/flag_en.jpg) 0 0 no-repeat;
        text-indent:-9999px;
}
span.esflag {
	background:url(images/flags/flag_es.png) 0 0 no-repeat;
        text-indent:-9999px;
}
span.itflag {
	background:url(images/flags/flag_it.png) 0 0 no-repeat;
        text-indent:-9999px;
}
span.grflag {
	background:url(images/flags/flag_gr.png) 0 0 no-repeat;
        text-indent:-9999px;
}
span.etflag {
	background:url(images/flags/flag_et.png) 0 0 no-repeat;
        text-indent:-9999px;
}
span.roflag {
	background:url(images/flags/flag_ro.jpg) 0 0 no-repeat;
        text-indent:-9999px;
}
span.deflag {
	background:url(images/flags/flag_de.png) 0 0 no-repeat;
        text-indent:-9999px;
}
span.frflag {
	background:url(images/flags/flag_fr.png) 0 0 no-repeat;
        text-indent:-9999px;
}
a.flag {
	text-indent:-9999px;
	margin-left:3px;
	display:inline-block;
	width:21px;
	height:13px;
}
a.enflag {
	background:url(images/flags/flag_en.jpg) 0 0 no-repeat;
}
a.spflag {
	background:url(images/flags/flag_sp.jpg) 0 0 no-repeat;
}
a.itflag {
	background:url(images/flags/flag_it.jpg) 0 0 no-repeat;
}
a.grflag {
	background:url(images/flags/flag_gr.jpg) 0 0 no-repeat;
}
